*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(/image/1.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.container{
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.44);
    
}
.main{
    width: 100%;
}
.heading{
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 20px 0px;
    /* border: 2px solid red; */
    color: aliceblue;
    background-color: #dd7230bc;
}
.me{
    display: flex;
    justify-content: center;
    border: 2px solid white;
    border-radius: 30px;
    margin: 0 50px;
    color: white;
    background-color: rgba(110, 110, 110, 0.71);
}
.owner{
    margin: 50px;
    /* border: 2px solid blue; */
    width: 80%;
    /* background-color: rgb(31, 194, 31); */
    display: flex;
    justify-content: space-between;
}
.aboutme{
    width: 67%;
}

.aboutme h3{
    width: 100%;
    font-family: sans-serif;
    font-size: 30px;
    text-align: center;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 20px 0px;
    color: aliceblue;
    background-color: #a8ac2ba7;
}
.aboutme p{
    width: 100%;
    text-align: justify;
}
.detail{
    font-size: 12px;
}
.myimg{
    width: 30%;
    margin: 10px;
}
.myimg img{
    width: 100%;
    border-radius: 500px;
    border: 10px double black;
}
.setup-tour{

}
    

.heading2{
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 20px 0px;
    padding: 10px;
    color: aliceblue;
    background-color: #dd7230bc;
}
.imgs {
    display: flex;
    justify-content: center;
    width: 100%;
}
.imgs img{
    margin: 10px;
    border-radius: 10px;
    width: 22%;
   height: auto;
   cursor: pointer;
}
footer {
    background-color: rgba(0, 0, 0, 0.73);
    width: 100%;
    justify-content: center;
  }
  .social-media {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .social-media img {
    background-color: #dd7230;
    width: 50px;
    padding: 10px;
    border-radius: 40px;
  }
  .social-media a {
    margin: 30px 30px 10px 30px;
  }
  .discription {
    padding-bottom: 20px;
    text-align: center;
  }
  .discription a {
    text-decoration: none;
    cursor: pointer;
    color: #dd7230;
  }
  .para{
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      background-color: #dd7230;
      text-align: center;
     padding: 20px;
  }
  .p2{
      font-size: 10px;
  }
  